.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-cards {
  width: 500px;
  height: auto;
}

.comment-icon {
  width: 20px;
  height: auto;
  padding-left: 5px;
}

.xp-up {
  width: 20px;
  height: auto;
  padding-right: 5px;
}

.xp-down {
  width: 20px;
  height: auto;
  padding-left: 5px;
}

/* LOGIN PAGE  */

.login-left-pic {
  padding-top: 230px;
  padding-right: 10px;
  float: left;
  height: 180px;
  width: auto;
}

.login-logo {
  width: 200px;
  height: auto;
}

.login-right-pic {
  /* padding-top: 40px;
  padding-left: 100px; */
  padding-top: 235px;
  padding-left: 10px;
  float: right;
  height: 171px;
  width: auto;
}

.login-stack {
  padding-top: 30px;
}

/* SIGN UP PAGE  */

.signup-left-pic {
  padding-top: 250px;
  padding-right: 10px;
  float: left;
  height: 180px;
  width: auto;
}

.signup-stack {
  padding-top: 30px;
}

.signup-logo {
  width: auto;
  height: 50px;
}

.signup-right-pic {
  /* padding-top: 40px;
  padding-left: 100px; */
  padding-top: 235px;
  padding-left: 10px;
  float: right;
  height: 171px;
  width: auto;
}

